@import "component/head.scss";
@import "component/footer.scss";

$color:#03234C;
.main{
    min-height: calc(100vh - 50px);
    padding-top: 100px;
}
.shoppingcar{
    text-align: center;
    background: #F5F5F5;
    margin: 40px 0 20px;   
}
.shoppingcar h1{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: $color;
    font-weight: normal;
}
.content{
    display: none;
    width: 1200px;
    margin: 0 auto ;
}
.content p{
    margin-top: 148px;
    font-size: 20px;
    text-align: center;
    color: $color;
}
.content a{
    display: block;
    text-align: center;
    //margin-top: 60px;
    font-size: 18px;
    font-weight: 200;
    background: $color;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 60px auto;
    color: #FFFFFF;
}
.nopro{
    display: none;
    width: 1200px;
    margin: 0 auto ;
}
.nopro p{
    margin-top: 148px;
    font-size: 20px;
    text-align: center;
    color: $color;
}
.nopro a{
    display: block;
    text-align: center;
    //margin-top: 60px;
    font-size: 18px;
    font-weight: 200;
    background: $color;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 60px auto;
    color: #FFFFFF;
}
.container{
    display: none;
    width: 1200px;
    margin: 0 auto ;
}

.ac{display: block;}

.box{margin-bottom: 20px;}
.box>p{
    padding: 10px 15px;
    color: $color;
  
}
.address li{
    margin-top: 20px;
}
.address li address{
    border: 1px solid #ddd;
    width: 270px;
    height: 170px;
    padding: 25px;
    display: block;
    float: left;
    margin-right: 30px;
    cursor: pointer;
    font-style: normal;
}
.name{
    float: left;
    color: $color;
    font-size: 16px;
}
.phone{float: right;}
.address li p{
    font-size: 13px;
    color: $color;
}
.area{
   margin-top: 35px;
}
.addr{
    margin-top: 15px;
}
.btn{
    border: none;
    font-size: 12px;
    color: $color;
    float: right;
    margin-top: 25px;
    background: transparent;
}
.add{
    width: 270px;
    height: 170px;
    background: transparent;
    border: 1px solid #ddd;
    cursor: pointer;
}
.add p{
    margin-top: 25px;
    font-size: 16px;
    color: $color;
}
.border{border: 2px solid $color;}
.modal-backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1040;
    background: #000;
    opacity: .5;
}
form{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1080;
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-content{
    margin: 150px auto;
    width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: relative;
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
}
.modal-header{
    border-bottom: 1px solid #E5E5E5;
    padding: 15px;
}
.close{
    margin-top: -2px;
    cursor: pointer;
    background: transparent;
    border: none;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.modal-title{
    font-weight: normal;
    font-size: 18px;
}
.modal-body{
    padding: 15px;
}
.form-group{
    margin-bottom: 15px;
}
.pro{display: block;}
thead{
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    width: 1200px;
}
tr{width: 1200px;}
th{
    color: $color;
    font-size: 16px; 
    font-weight: normal;
    height: 40px;
    line-height: 40px;
}
.col-1{ width: 100px;}
.title{
    width: 500px;
    margin-left: -30px;
    padding-left: 5px;
    text-align: left;
}
.col-2{
    width: 200px;
    padding-right: 15px;
    padding-left: 15px;
}
.num{padding-left: 50px;}
tbody{
    width: 1200px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.left{float: left;}
.right{
    float: left;
    padding-top: 20px;
    padding-left: 15px;
}
.left img{width: 120px;height: 120px;}
.right h5{
    font-size: 14px;
    color: #555;
    font-weight: normal;
    margin: 0 0 5px;
}
.right p{
    font-size: 14px;
    color: $color;
    font-weight: normal;
    
}
.tr-tbody{display: block;margin-bottom: 20px;}
.col-3{
    width: 530px;
    margin-left: -30px;
    padding-left: 5px;
    text-align: left;
}
.num button{
    width: 36px;
    border: 1px solid $color;
    height: 30px;
    background: transparent;
    font-size: 16px;
    float: left;
}
.num input{
    background: #DBDBDB;
    width: 54px;
    border: 1px solid $color;
    height: 30px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #555555;
    float: left;
}
.amount{padding-left:20px;}
.opt{padding-left: 85px;}
.min-foot{border-bottom: 1px solid #ddd;padding-bottom: 20px;margin-bottom: 20px;}
.min-foot ul li{
    text-align: right;
    margin-bottom: 10px;
    font-size: 16px;
    color: $color;
}
.min-foot ul .all-pay{
    font-size: 18px;
    
}
.pay{
    float: right;
    color: #fff;
    background: $color;
    width: 190px;
    height: 40px;
    line-height: 40px;
    border: none;
    margin-bottom: 50px;
}
.hide{opacity: 0;}
