@import "component/head.scss";
@import "component/nav.scss";
@import "component/footer.scss";
#lbt{
	width: 1191px;
	height: 750px;
	margin-top: 100px;
	overflow: hidden;
	position: relative;
	float: right;
	margin-bottom: 50px;
}
#lbt ul{
	position: absolute;
	left: 0;
	top: 0;
}
#lbt ul li{
    
	height: 750px;
	float: left;
	cursor: pointer;
}
#lbt ul li img{width: 1191px;height: 750px;}

