<ul>
    <li class="nav-list">
        <h4>新品上市</h4>
        <ul class="hide">
            <li class="cat-li"><a href="javascript:;">男士</a></li>
            <li class="cat-li"><a href="javascript:;">女士</a></li>
            <li class="cat-li"><a href="javascript:;">儿童</a></li>
        </ul>
    </li>
    <li class="nav-list">
        <h4>男士</h4>
        <ul class="hide">
            <li class="cat-li"><a href="javascript:;">T恤上衣</a></li>
            <li class="cat-li"><a href="javascript:;">卫衣</a></li>
            <li class="cat-li"><a href="javascript:;">外套</a></li>
            <li class="cat-li"><a href="javascript:;">裤装</a></li>
            <li class="cat-li"><a href="javascript:;">休闲鞋</a></li>
            <li class="cat-li"><a href="javascript:;">运动鞋</a></li>
            <li class="cat-li"><a href="javascript:;">包包附配饰</a></li>
        </ul>
    </li>
    <li class="nav-list">
        <h4>女士</h4>
        <ul class="hide">
            <li class="cat-li"><a href="javascript:;">T恤上衣</a></li>
            <li class="cat-li"><a href="javascript:;">卫衣</a></li>
            <li class="cat-li"><a href="javascript:;">外套</a></li>
            <li class="cat-li"><a href="javascript:;">连衣裙</a></li>
            <li class="cat-li"><a href="javascript:;">下装</a></li>
            <li class="cat-li"><a href="javascript:;">休闲鞋</a></li>
            <li class="cat-li"><a href="javascript:;">运动鞋</a></li>
            <li class="cat-li"><a href="javascript:;">包包附配饰</a></li>
        </ul>
    </li>
    <li class="nav-list">
        <h4>儿童</h4>
        <ul class="hide">
            <li class="cat-li"><a href="javascript:;">男童-服装</a></li>
            <li class="cat-li"><a href="javascript:;">男童-鞋类</a></li>
            <li class="cat-li"><a href="javascript:;">男童-包包附配饰</a></li>
            <li class="cat-li"><a href="javascript:;">女童-服装</a></li>
            <li class="cat-li"><a href="javascript:;">女童-鞋类</a></li>
            <li class="cat-li"><a href="javascript:;">女童-包包附配饰</a></li>
        </ul>
    </li>
    <li class="nav-list">
        <h4 class="top"><a href="javascript:;" >FUSION</a></h4>
    </li>
    <li class="nav-list">
        <h4><a href="javascript:;">ICONIC系列</a></h4>
    </li>
</ul>