.nav{
    width:200px;
    margin-left: 95px;
    float: left;
    margin-top: 100px;
}
.nav-list h4{
    padding: 10px 0;
    transition: 1s;
}
.nav-list .hide{
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.nav-list h4 a{
    color: black;
    cursor: pointer;
}
.nav-list .top{
    width: 65px;
    display: block;
    border-top: 1px solid #CCCCCC;
}